body {
    overflow: auto;

p {
    padding: 0px 20px;
}

button {
    margin-left: 10px;
}

.result-table {
    border-collapse: collapse;
    border: 1px solid darkgray;
    margin-left: 20px;
}

.result-table thead th {
    font-weight: bold;
}

.result-table th,
.result-table td {
    padding: 8px;
    border: 1px solid darkgray;
}

.result-table td:last-child, .result-table th:last-child {
    text-align: right;
}
