body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.1;
    /* Prevent automatic font size adjustment on mobile browsers */
    -webkit-text-size-adjust: none;
}

.result-table {
    border-collapse: collapse;
    border: 1px solid #000;
}

.result-table thead th {
    font-weight: bold;
}

.result-table th,
.result-table td {
    padding: 8px;
    border: 1px solid #000;
}

.result-table td:last-child, .result-table th:last-child {
    text-align: right;
}

/* Adjust font size for narrow mobile screens */
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
}
